/* Main Elements */
body {
    margin: 0;
    background-color: whitesmoke;
}

h1 {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-size: 38px;
    font-family: 'Alata', sans-serif;
}

p {
    margin: 0;
    margin-bottom: 0.5%;
    font-size: 22px;
}

a {
    font-family: 'Alata', sans-serif;
}

#name-header {
    font-size: 55px;
    color: white;
    font-family: 'Thasadith', sans-serif;
    text-align: center;
    margin-top: 2.5%;
}

.title {
    margin-bottom: 1%;
    font-size: 36px;
    color: white;
    font-family: 'Thasadith', sans-serif;
}

#emphasis {
    margin-bottom: 5%;
    color: gold;
    font-size: 36px;
    font-family: 'Alata', sans-serif;
    text-align: center;
}

.title-body {
    margin-bottom: 4%;
    font-size: 20px;
    color: white;
    font-family: 'Thasadith', sans-serif;
}

.header {
    padding-top: 1%;
    background-color: slategray;
    min-height: 100%;
    margin-bottom: 2%;
}

.section {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2%;
}

.row {
    margin-top: 1%;
}
