{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <img class="img-fluid" src="./assets/me.jpg">
    </div>
    <div class="col title">
      <span class="name-header">Hey, I'm <span id="title-name">Ethan Richards</span>!</span>
      
      <p class="title-body">
        I'm a Software Engineer with a B.S. and M.S. in Computer Science from the Colorado School of Mines with extensive experience in all things software. 
      </p>

      <p class="title-body">
        I'm all about integrity, communication, and collaboration in teams. I love to own hard problems; I lead, delegate, or roll my sleeves up to solve problems and add value.
      </p>
      
      <p class="title-body">
        I believe empathy and kindness make great teams, great people, great relationships, and ultimately great products.
      </p>
    </div>
  </div>
</div>
{{ end }}