{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <img class="img-fluid" src="./assets/me.jpg">
    </div>
    <div class="col title">
      <span class="name-header">Hey, I'm <span id="title-name">Ethan Richards</span>!</span>
      
      <p class="title-body">
        I'm a software engineer and student skilled in a variety of languages with extensive experience in full stack web development.
        When I'm not coding, I enjoy playing soccer, ultimate frisbee, reading, teaching and playing video games.
      </p>

      <p class="title-body">
        I started programming in November 2015, fascinated by how I could use Java to modify Minecraft. 
        I have a B.S. in Computer Science from Mines and I'm currently pursuing a masters, expecting to graduate
        in December 2025.
      </p>
      
      <p class="title-body">
        I believe empathy and kindness make great teams, great people, great relationships, and ultimately great products.
      </p>
    </div>
  </div>
</div>
{{ end }}